<button id="uploadButton" class="nav-link btn  btn-link"
        style="white-space:nowrap"
        *ngIf="!dropDownItem"
        type="button" [disabled]="!enabled" (click)="openModal(uploadModal)">
  <ng-icon name="ionCloudUploadOutline" class="me-1"></ng-icon>
  <ng-container i18n>Upload</ng-container>
</button>

<a class="dropdown-item" (click)="openModal(uploadModal)" *ngIf="dropDownItem">
  <ng-icon name="ionCloudUploadOutline"></ng-icon>
  <ng-container i18n>Upload</ng-container>
</a>

<ng-template #uploadModal>
  <!-- upload Modal-->
  <div class="modal-header">
    <h5 class="modal-title" i18n>Upload</h5>
    <button type="button" class="btn-close" (click)="hideModal()" data-dismiss="modal" aria-label="Close">
    </button>
  </div>
  <div class="modal-body">
    <form #uploadForm="ngForm" class="form-horizontal">
      <div class="row mb-3">
        <div class="col-12">
          <div class="drop-zone" 
                [class.dragover]="status === 0 && isDragOver"
                [class.disabled]="status !== 0"
                (drop)="onFileDropped($event)" 
                (dragover)="onDragOver($event)" 
                (dragleave)="onDragLeave()" 
                (click)="triggerFileInput()">
            <ng-icon name="ionCloudUploadOutline" class="me-1"></ng-icon>
            <p i18n>Drag and drop files here, or click to select files</p>
            <input id="fileInput" type="file" class="file-input" (change)="onFileSelected($event)" multiple>
          </div>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let file of files | keyvalue">
              <span>{{ file.key }}</span>
              <ng-container *ngIf="status === 0">
                <button type="button" class="btn btn-danger btn-sm float-end" (click)="removeFile(file.key)" i18n>Remove</button>
              </ng-container>
              <ng-container *ngIf="status !== 0">
                <ng-icon *ngIf="successfulFiles.includes(file.key)" name="ionCheckmarkCircleOutline" class="text-success ms-2"></ng-icon>
                <ng-icon *ngIf="failedFiles.includes(file.key)" name="ionCloseCircleOutline" class="text-danger ms-2"></ng-icon>
              </ng-container>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label class="control-label" for="autoOrganize" i18n>Auto-organize:</label>
        </div>
        <div class="col-8">
          <div class="form-check form-switch">
            <input class="form-check-input"
                   type="checkbox"
                   role="switch"
                   id="autoOrganize"
                   (change)="toggleAutoOrganize($event)"
                   [checked]="autoOrganize"
                   [disabled]="status !== 0">
          </div>
        </div>
      </div>
      <ng-container *ngIf="!autoOrganize">
        <div class="row">
          <div class="col-4">
            <label class="control-label" for="uploadDir" i18n>Target directory:</label>
          </div>
          <div class="col-8">
            <input type="text"
                  id="uploadDir"
                  class="full-width form-control"
                  (change)="setUploadDir($event)"
                  [ngModel]="uploadDir">
          </div>
        </div>
      </ng-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="resetForm()" [disabled]="status === 1" i18n>Reset</button>
    <button type="button" class="btn btn-primary" (click)="uploadFiles()" [disabled]="status !== 0" i18n>Upload</button>
  </div>
</ng-template>
